#text-container {
    position: relative;
    width: 100%;
    height: 500px; /* Adjust based on your needs */
    overflow: hidden;
}

.line {
    font-family: 'Ramabhadra', sans-serif;
    position: absolute;
    font-size: 100px;
    line-height: 82px;
    height: 90px;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.slide-in {
    transform: translateY(0%);
    opacity: 1;
}

.slide-out {
    transform: translateY(-100%);
    opacity: 0;
}
